.hero {
  padding: 90px 0 100px 0;
  text-align: center;

  background:
    /* radial-gradient(circle at center, */
    /* rgba(0, 0, 0, 1) 0%, */
    /* rgba(0, 0, 0, 0.3) 40%, */
    /* rgba(0, 0, 0, 0) 100%), */

    url('/assets/img/bg.png');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* For dark blending if needed */
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero h3 {
  color: var(--highlight-text-color);
  font-weight: bold;
  /* background-color: var(--primary-color-dark); */
  padding: 0rem 0rem;
  display: inline-block;
  font-size: 36pt;
  border-radius: 20%;
}

.hero p {
  font-size: var(--large-font-size);
}

/* Container for the image and logo */
.hero-image-wrapper {
  position: relative;
  display: inline-block;
  /* Wraps tightly around the image */
  max-width: 100%;
}

.before-after-box img {
  max-height: 400px;
  height: 70vh;
  width: auto;
  display: block;
  /* Removes bottom whitespace */
  border-radius: 8px;
  /* Optional: smooths the edges */
}

.logo-box {
  position: absolute;
  /* Push to the exact center */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Circle Styling */
  background-color: antiquewhite;
  border-radius: 50%;
  /* Force perfect circle */
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* Adds depth over the image */

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box img {
  height: 15vh;
  /* Responsive height */
  max-height: 120px;
  width: auto;
}

/* Tablet/Mobile Adjustments */
@media (max-width: 768px) {
  .before-after-box img {
    /* height: 70vw */
    /* max-height: 500px; */
    min-height: 100px;
    height: auto;
    width: 100%;
    /* Shorter image on mobile */
  }

  .logo-box {
    padding: 10px;
  }

  .logo-box img {
    height: 10vh;
  }
}

@media (max-width: 400px) {
  .before-after-box img {
    visibility: collapse;
  }