#referenciak {
  background-color: #1a1d23;
  color: #fff;
}

.gallery-container {
  background: #242830;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 30px;
  transition: transform 0.3s ease;
}

.gallery-header {
  margin-bottom: 25px;
}

/* .gallery-header i { */
/* color: #ffcc00; /* Az arany szín az ikonoknak */
/* font-size: 1.5rem; */
/* margin-bottom: 10px; */
/* display: block; */
/* } */

.gallery-header h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.gallery-header p {
  color: #a0a8b3;
  font-size: 0.9rem;
}

/* Sárga kiemelés az Előtte-Utána résznek */
.highlight-border {
  border: 1px solid rgba(255, 204, 0, 0.2);
  box-shadow: 0 0 20px rgba(255, 204, 0, 0.05);
}

/* Thumbnail rács formázása az app-gallery-n belül */
::ng-deep .pswp-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 12px;
}

::ng-deep .pswp-gallery a img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

::ng-deep .pswp-gallery a img:hover {
  transform: scale(1.05);
  /* border-color: #ffcc00; */
  filter: brightness(1.1);
}

/* Mobilos igazítás */
@media (max-width: 768px) {
  .gallery-container {
    padding: 20px;
  }
}