<footer id="footer" class="py-5 bg-dark border-top border-secondary mt-5">
  <div class="container text-center">

    <div class="mb-3">
      <small class="text-white-50 d-block">
        Tervezte és kivitelezte:
        <a href="https://www.activesyntax.net" target="_blank" class="link-highlight">
          ActiveSyntax.net
        </a>
      </small>
    </div>

    <div class="copyright-box pt-3 mt-3">
      <small class="d-block text-white-50 opacity-75">
        © 2026 EB-Clean. Minden jog fenntartva.
      </small>
    </div>

  </div>
</footer>