<nav id="mainNav" class="navbar navbar-dark navbar-expand-lg fixed-top custom-nav">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-auto align-items-center">
        <li class="nav-item">
          <a [class.active-link]="activeSection() === 'bemutatkozas'" class="nav-link" href="#bemutatkozas">EB Clean</a>
        </li>
        <li class="nav-item">
          <a [class.active-link]="activeSection() === 'szolgaltatasok'" class="nav-link"
            href="#szolgaltatasok">Szolgáltatások</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active-link]="activeSection() === 'elonyok'" href="#elonyok">Előnyök</a>
        </li>
        <li class="nav-item">
          <a [class.active-link]="activeSection() === 'referenciak'" class="nav-link"
            href="#referenciak">Referenciák</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active-link]="activeSection() === 'kapcsolat'" href="#kapcsolat">Kapcsolat</a>
        </li>
        <li class="nav-item">
          <a href="#arajanlat" class="btn-cta primary nav-button ms-lg-3"
            [class.active-link]="activeSection() === 'arajanlat'">Árajánlat</a>
        </li>
      </ul>
    </div>
  </div>
</nav>