<nav id="mainNav" class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top custom-nav">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-auto align-items-center">
        <li class="nav-item">
          <a [class.active-link]="activeSection() === 'hero'" class="nav-link" href="#">EB Clean</a>
        </li>
        <li class="nav-item">
          <a [class.active-link]="activeSection() === 'services'" class="nav-link" href="#services">Szolgáltatások</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active-link]="activeSection() === 'references'" href="#references">Előnyök</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active-link]="activeSection() === 'contact'" href="#contact">Kapcsolat</a>
        </li>
        <li class="nav-item">
          <a href="#services" class="btn btn-primary nav-button ms-lg-3"
            [class.active-link]="activeSection() === 'experience'">Árajánlat</a>
        </li>
      </ul>
    </div>
  </div>
</nav>